.form {
    width: 100%;
}

.form-input {
    border: 1px solid #B3B3B3;
    padding: 2% 3% 2% 3%;
    border-radius: 25px;
    margin-top: 1%;
}

.form-button {
    background-color: #011D26;
    color: white;
    margin-top: 3%;
    padding:3%;
    border-radius: 25px;
    transition: 0.5s;
    width: 100%;
}
    .form-button:enabled:hover {
        transform: scale(1.05);
        transition: 0.5s;
        box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.3);
    }
    .form-button:disabled {
        background-color: #B3B3B3;
        transition: 0.5s;
    }

.validation-message {
    font-size: 90%;
    color: red;
}

.form-link {
    color: rgb(0, 110, 255);
}
    .form-link:hover {
        text-decoration: underline;
    }
